{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Index{% endblock %}</h1>
{% endblock %}

{% block content %}

    <article class="post">
      <header>
        <div>
          <h1>Manage products</h1>
          <a class="action" href="{{ url_for('product_register') }}">Register product</a>
          <a class="action" href="{{ url_for('product_list') }}">List products</a>
        </div>
      </header>
    </article>

    <article class="post">
      <header>
        <div>
          <h1>Manage suppliers</h1>
          <a class="action" href="{{ url_for('supplier_register') }}">Register supplier</a>
          <a class="action" href="{{ url_for('supplier_list') }}">List suppliers</a>
        </div>
      </header>

    <article class="post">
      <header>
        <div>
          <h1>Manage customers</h1>
          <a class="action" href="{{ url_for('customer_register') }}">Register customer</a>
          <a class="action" href="{{ url_for('customer_list') }}">List customers</a>
        </div>
      </header>
    </article>

{% endblock %}